# Deliverable 3. Create a Travel Itinerary Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
1,8,natal,BR,82.62,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
2,9,kapaa,US,80.58,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,10,vaini,TO,82.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
4,12,arraial do cabo,BR,76.86,broken clouds,-22.9661,-42.0278,Pousada Porto Praia

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
# 4a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="warner robins")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="warner robins")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="lakeside")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="rincon")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="mount pleasant")] 
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
67,244,warner robins,US,75.36,clear sky,32.621,-83.5999,Super 8 by Wyndham Warner Robins

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()[0]
end = vacation_end[["Lat","Lng"]].to_numpy()[0]
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()[0]
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()[0]
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()[0]
start

array([ 32.621 , -83.5999])

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
wr2lakeside = gmaps.directions_layer(start, stop1,travel_mode='DRIVING')
lakeside2rincon = gmaps.directions_layer(stop1, stop2,travel_mode='DRIVING')
rincon2mp = gmaps.directions_layer(stop2, stop3,travel_mode='DRIVING')
mp2wr = gmaps.directions_layer(stop3, end,travel_mode='DRIVING')
fig.add_layer(wr2lakeside)
fig.add_layer(lakeside2rincon)
fig.add_layer(rincon2mp)
fig.add_layer(mp2wr)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
four_city_df=pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3])
four_city_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
67,244,warner robins,US,75.36,clear sky,32.6210,-83.5999,Super 8 by Wyndham Warner Robins
171,625,lakeside,US,81.16,scattered clouds,30.1300,-81.7682,Whitey's Fish Camp
163,593,rincon,US,78.76,scattered clouds,32.2960,-81.2354,Days Inn Rincon
42,142,mount pleasant,US,77.14,clear sky,32.7941,-79.8626,Best Western Patriots Point

In [16]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
four_city_df=pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
four_city_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,244,warner robins,US,75.36,clear sky,32.6210,-83.5999,Super 8 by Wyndham Warner Robins
1,625,lakeside,US,81.16,scattered clouds,30.1300,-81.7682,Whitey's Fish Camp
2,593,rincon,US,78.76,scattered clouds,32.2960,-81.2354,Days Inn Rincon
3,142,mount pleasant,US,77.14,clear sky,32.7941,-79.8626,Best Western Patriots Point

In [18]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in four_city_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = four_city_df[["Lat", "Lng"]]
max_temp = four_city_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))